<mat-card class="performance-card">
  <mat-card-header>
    <mat-card-title><small>Performance Metrics</small></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <small>API Response Time: <strong>{{ apiResponseTime }} ms</strong></small>
    <mat-divider></mat-divider>
    <div>
    <small>Component Load Time (including API call): <strong>{{ loadTime }} ms</strong></small>
  </div>
  </mat-card-content>
</mat-card>


<div *ngIf="cart" class="cart-container mat-elevation-z2">

  <ul>
    <li *ngFor="let product of products" class="product-item">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-card class="product-card">
          <mat-card-content fxLayout="row" fxLayoutAlign="start start">
            <div class="product-details">
              <mat-card-title>{{ product.title }}</mat-card-title>
              <div fxLayout="row" fxLayoutAlign="start center" class="quantity-price">
                <mat-form-field appearance="outline">
                  <input matInput type="number" [(ngModel)]="product.quantity" >
                </mat-form-field>
                <p>Price: ${{ product.price }}</p>
                <button mat-icon-button (click)="deleteProduct(product.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <img mat-card-image [src]="product.image" alt="Product Image" class="product-image">
          </mat-card-content>
        </mat-card>
      </div>
    </li>
  </ul>
</div>
