<!-- src/app/app.component.html -->
<div class="main-content">
  <div>
    <header>
      
      <a routerLink="/" routerLinkActive="active">
        <h1 class="brand-name">EcoEarth Store</h1>    
      </a>
      <nav>
        <input type="text" placeholder="Search products" (input)="onSearch($event)">
        <a routerLink="/products" routerLinkActive="active">
          <mat-icon>store</mat-icon>
          Products
        </a>
        <a routerLink="/cart" routerLinkActive="active">
          <mat-icon>shopping_cart</mat-icon>
          Cart
        </a>
        <a routerLink="/user" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          {{ username }}
        </a>
      </nav>
    </header>
    <div class="search-container">

    </div>
    <router-outlet></router-outlet> <!-- Routed components will be displayed here -->
    <app-chat></app-chat>
    <footer>
      &copy; Without using IBM Consulting Assistance
    </footer>
  </div>
</div>

