header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #797777;
    font-weight: bold;
  }
  
  nav a mat-icon {
    margin-right: 8px;
  }
  
  nav a.active {
    color: #d3d6d9; /* Highlight the active link */
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
  }
  
  .brand-name {
    font-size: 2rem; /* Adjust font size as needed */
    font-weight: bold; /* Bold font weight */
    letter-spacing: 2px; /* Add letter spacing for uniqueness */
    margin: 0; /* Remove default margin */
    color: white; /* White text color */
  }