/* src/app/home/home.component.css */
.filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .category-filter {
    width: 250px;
  }
  
  .product-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    width: 250px;
    margin-bottom: 20px;
  }
  
  .mat-card {
    display: flex;
    flex-direction: column;
    height:500px;
    padding: 20px;
  }
  
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .product-card img {
    height: 120px;
    object-fit: cover;

  }
  
  
  .product-rating {
    display: flex;
    align-items: center;
  }
  
  .product-rating mat-icon {
    margin-right: 4px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .mat-card-actions {
    display: flex;
    justify-content: center;
}

.mat-card-actions button {
    background-color: #000;
    color: #fff;
    margin-top: 10px;
}




.performance-card {
  max-width: 300px;
  position: fixed;
  top: 280px;
  left: 940px;
  z-index: 1000;
  background-color: rgb(180, 184, 183);
}
.recently-viewed {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.product-list {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.product-card-row {
  display: flex;
}

.product-card {
  width: 200px; /* Adjust card width as needed */
  margin-right: 10px; /* Adjust spacing between cards */
  border: 1px solid #ddd; /* Example border styling */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card-content {
  padding: 10px;
}

.product-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
